# ignore all files in the img directory
img/*

# exception to the rule
!img/.gitkeep 
# ignore all test files
test/
# ignore all imgages2
images2/

# ingore the local instance 

*classes/database.class.php

gms.sql

# ignore all files in the test directory
test/